body{
    max-width: 750px;
    padding: 0;
    margin: 0;
    margin: auto auto;
    font-family: Nunito-Bold;
    background: #FFEDD1;
}

@font-face {
    font-family: 'Nunito-Bold';
    src: url('//cn.e.pic.mangatoon.mobi/for-clients/Nunito-Bold.ttf');
}

#page-content1 {
    position: relative;
    width: 100%;
}

.imgbg {
    width: 100%;
}

.img1 {
    position: absolute;
    top: 10%;
    left: 4.7%;
    display: block;
    width: 90.7%;
}

.img2 {
    position: absolute;
    top: 33.5%;
    left: 30%;
    width: 40%;
}

.img2:hover {
    opacity: 0.75;
}

.img3 {
    position: absolute;
    top: 61.8%;
    left: 30%;
    width: 40%;
}

.img3:hover {
    opacity: 0.75;
}

#page-content2 {
    position: relative;
    width: 100%;
    display: none;
}

.item1 {
    position: absolute;
    top: 46.8%;
    left: 13.1%;
    width: 73.3%;
}

.item2 {
    position: absolute;
    top: 55.8%;
    left: 13.1%;
    width: 73.3%;
}

.item3 {
    position: absolute;
    top: 64.8%;
    left: 13.1%;
    width: 73.3%;
}

.item4 {
    position: absolute;
    top: 73.8%;
    left: 13.1%;
    width: 73.3%;
}

.img4 {
    display: block;
    width: 100%;
}

.img5 {
    position: absolute;
    top: 85%;
    left: 30%;
    width: 40%;
}

.img5:hover {
    opacity: 0.75;
}

.img6 {
    position: absolute;
    top: 85%;
    left: 30%;
    width: 40%;
}

.img6:hover {
    opacity: 0.75;
}

.img7 {
    position: absolute;
    top: 85%;
    left: 30%;
    width: 40%;
}

.img7:hover {
    opacity: 0.75;
}

.img8 {
    position: absolute;
    top: 85%;
    left: 30%;
    width: 40%;
}

.img8:hover {
    opacity: 0.75;
}

.img9 {
    position: absolute;
    top: 85%;
    left: 30%;
    width: 40%;
}

.img9:hover {
    opacity: 0.75;
}

.img10 {
    position: absolute;
    width: 52.4%;
    bottom: 3%;
    margin-left: 24.1%;
}

.span1 {
    position: absolute;
    top: 26%;
    left: 5%;
    width: 90%;
    font-size:32px;
    color:rgba(51,51,51,1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.span2 {
    width: 18.6%;
    margin-left: 19%;
    font-size:40px;
    font-weight:600;
    color:rgba(223,60,0,1);
}

.span3 {
    width: 18.6%;
    margin-left: 15%;
    font-size:40px;
    font-weight:600;
    color:rgba(223,60,0,1);
}

.span4 {
    width: 16.2%;
    margin-left: 15.5%;
    font-size:40px;
    font-weight:600;
    color:rgba(223,60,0,1);
}


#page-content3 {
    position: relative;
    width: 100%;
    display: none;
}

#page-content4 {
    position: relative;
    width: 100%;
    display: none;
}

#page-content5 {
    position: relative;
    width: 100%;
    display: none;
}

#page-content6 {
    position: relative;
    width: 100%;
    display: none;
}

#page-content7 {
    position: relative;
    width: 100%;
    display: none;
}

.content7-item {
    position: absolute;
    top: 62.5%;
    display: inline-block;
    width: 100%;
}

@media only screen and (max-width: 750px) {
    .span1{font-size: 20px}
    .span2{font-size: 30px}
    .span3{font-size: 30px}
    .span4{font-size: 30px}
}

